<main class="chatContainer">
  <form action="" class="chatForm">
    <h2>Formulario de contacto</h2>

    <label for="userMail">Mail de contacto:
    </label>
    <input
      class="chatInput"
      type="text"
      name="userEmail"
      required
      id="userMail"
      placeholder="Ingrese su E-mail"
    />
    <label for="chatMessage">Mensaje:
    </label>
    <textarea
      class="chatText"
      id="chatMessage"
      required
      placeholder="Ingrese tu consulta, ya nos contactaremos. Gracias."
    ></textarea>
    <button type="submit" style="margin-top:10px" id="btnSendMessage">Enviar</button>
    <button style="margin-top:10px"><a
        href="http://localhost:8080/api/products/"
      >Inicio</a></button>

  </form>
  <section class="containerHistoric">
    <h2>Historial de consultas</h2>
    <div id="idMessage"></div>
  </section>

</main>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/chat.js"></script>