* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 


body {
    background-color: aquamarine;
    height: 100vh;
}& a:link, a:visited, a:active{

text-decoration: none;
    
}& button{

    width: auto;
    min-width: 60px;
    padding: 2px 4px;
    margin: auto;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.header{
    background-color: white;

    height: 80px;
    border-bottom: 1px solid black;

} 
.header img{

    max-height:79px;

}

.navBar{

    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    justify-items: center;
    gap:10px
}

.containerPages{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    height: auto;

}


.formUser {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 200px;

}

.formUser button {

    width: 70px;
    margin: auto;
    padding: 2px 4px;
    border: 1px solid;
    border-radius: 10px;
}


.container {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 80%;
    height: auto;
    gap: 8px;
    margin: auto;
    margin-bottom: 50px;
    background-color: blanchedalmond;
}

.cardContainer {

    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    background-color: rgba(128, 128, 128, 0.555);
    padding: 20px 10px;
    height: 320px;

}

& p {
    font-weight: 500;
}

& span {

    color: red;
    font-weight: bold;
    font-size: 16px;

}

.imgCard {
    height: 100px;
    width: 100px;
    aspect-ratio: 1;
    margin: 4px 0px ;
}

.titleCard {

    text-decoration: underline;

}

.textCard {

    display: flex;
    width: 90%;
    flex-direction: column;
    text-align: left;
}

.containerForm{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;

    
}
.formProduct{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
}


/*
Chat Style
*/
.chatContainer{
    width: 80%;
    min-height: 82.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap:20px;
    margin:auto;
    flex-wrap:wrap ;
}
.chatForm{
    width: 50%;
    display: flex;
    gap:10px;
    flex-direction: column;
    margin-top: 30px;
    
}
.chatText{
    min-width: 285px;
    height: 100px;
}

.containerHistoric {
  width: 50%;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.685);
  color:white;
  min-height: 300px;
  }

#idMessage {
  margin: 5px 2px;
  display: flex;
  flex-direction: column;
}
