<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Carlos Alberto Kaar" />
    <link rel="shortcut icon" href="https://i.pinimg.com/564x/d5/1d/8b/d51d8b2ff28db324ed1be2766f793c43.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../../css/{{style}}" />
    <title>Segunda PreEntrega BackEnd CoderHouse 2024</title>
  </head>
  <body>
    <header class="header">
        <nav class="navBar">
            <img src="https://img.freepik.com/vector-gratis/carro-tienda-edificio-tienda-dibujos-animados_138676-2085.jpg" alt="tiendaLogo">
            <h1>Bienvenid@s a la tienda de Charly</h1>
        </nav>
    </header>
    {{{body}}}
        <footer class="header">
        <nav class="navBar">
        </nav>
    </footer>
  </body>

</html>